<div class="mt-4">
  <div>
    <h3>Khoá học đã xoá</h3>
    <a href="/me/stored/courses">Danh sách khoá học</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian xoá</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-link btnRestore"
              data-id="{{this._id}}"
            >Khôi phục</a>
            <a
              href=""
              class="btn btn-link"
              data-toggle="modal"
              data-target="#delete-course-modal"
              data-id={{this._id}}
            >Xoá vĩnh viễn</a>
          </td>
        </tr>

      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Thùng rác trống!
            <a href="/me/stored/courses">Danh sách khoá học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete course }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xoá vĩnh viễn khoá học này?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Huỷ</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá
          vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>
{{! End Confirm delete course }}

{{! Delete Form }}
<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>
{{! End Delete Form }}

<script>
  var courseId; var deleteForm=document.forms['delete-course-form'];var
  restoreForm=document.forms['restore-course-form'];var btnDeleteCourse =
  document.getElementById('btn-delete-course'); var
  btnRestore=document.querySelectorAll('.btnRestore');
  document.addEventListener('DOMContentLoaded',()=>{
  $('#delete-course-modal').on('show.bs.modal', (event) =>{ var button =
  $(event.relatedTarget); courseId = button.data('id'); }) });
  btnDeleteCourse.onclick=()=>{ deleteForm.action =
  `/courses/${courseId}/force?_method=DELETE`; deleteForm.submit(); };
  btnRestore.forEach((btn) => { btn.addEventListener("click", function(e) {
  e.preventDefault(); var courseId=btn.getAttribute('data-id');
  restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
  restoreForm.submit(); }); })

</script>